* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
}

$theme-color: #F51963;

/*color variables start*/
//$black: #000000;
//$white: #ffffff;
//$theme-color-20: rgba(245, 25, 99, 0.2);
//$border-color: #D3D3D3FF;
//$linear-gradient-theme: linear-gradient(45deg, #F51963 0%, #FBAE20 100%);
//$background-theme-color: #FAF9FF;
//$water-color: rgba(255, 255, 255, 0.1);
//$text:#eee;
//$black1:#111;
//$grayish:#7f7f7f;
//$yellow:#FBAE20;
//$light-bg:#f7f7f7;
//$gray-2: #ccc;
//$gray-3: #bbb;
//$gray-4: #777;
//$gray-5: #999;
//$gray-6: #575454;
//$news-bg: #FAF9FF;
//$dark: #222;
//$popular-sec-pink:#c00f4a;
//$popular-sec-yellow:#d6961e;

/*color variables end*/

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #575454;
    height: 20px !important;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-80 {
    margin-bottom: 80px;
}

.sec-wrap {
    padding: 120px 0;
}


/*page loader*/
.page-loader{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    width: 100%;
    background-color: #000;
    z-index: 9999999999999;
    .middle{
        position: absolute;
        top: 50%;
        width: 100%;
        .anim{
            display: inline-block;
            position: relative;
            width: 64px;
            height: 64px;
            div{
                position: absolute;
                top: 27px;
                width: 11px;
                height: 11px;
                border-radius: 50%;
                background:#ffffff;
                animation-timing-function: cubic-bezier(0, 1, 1, 0);
                &:nth-child(1){
                    left: 6px;
                    animation: lds-ellipsis1 0.6s infinite;
                }
                &:nth-child(2){
                    left: 6px;
                    animation: lds-ellipsis2 0.6s infinite;
                }
                &:nth-child(3){
                    left: 26px;
                    animation: lds-ellipsis2 0.6s infinite;
                }
                &:nth-child(4){
                    left: 45px;
                    animation: lds-ellipsis3 0.6s infinite;
                }
            }
        }
    }
}


/*animation*/

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
