.text-theme {
    color: $theme-color;
}

.border-theme {
    border: 1px solid $theme-color;
}

.border-bottom-theme {
    border-bottom: 3px solid $theme-color;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sm-title {
    font-size: 13px;
    color: $theme-color;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 5px;
}



.sec-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 70px;
    padding-bottom: 15px;
    position: relative;
    z-index: 2;

    &:after {
        content: '';
        width: 80px;
        height: 1px;
        background-color: $theme-color;
        position: absolute;
        bottom: 0;
        left: calc(50% - 40px);
    }
}

.parallax-title {
    font-size: 55px;
    font-weight: 500;
    animation-delay: .6s;

    @media screen and (max-width: 991px) {
        font-size: 45px;
        line-height: 1.4;
    }  @media screen and (max-width: 767px) {
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 1px;
}
}

.parallax-desc {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 400;
    padding: 0 30px;
    letter-spacing: 1px;
    word-spacing: 2px;
    animation-delay: 1s;
}

.code-line{
    font-size: 18px;
}

.res-text{
    @media screen and (max-width: 600px) {
        margin-top: 10px;
        display: block;
    }
}
