.btn-theme {
    background: $theme-color;
    color: #fff;
    border-color: $theme-color;

    &.btn-theme-ripple {
        transition: .4s all;
        position: relative;
        z-index: 3;
        animation-delay: 1.2s;
        overflow: hidden;

        &.rounded-pill {
            &:after {
                border-radius: 30px;
            }
        }

        &:hover {
            border-color: #fff;
            background: transparent;

            span {
                position: relative;
                z-index: 3;
                color: $theme-color !important;
            }
        }

        &:after {
            content: '';
            width: 0;
            height: 100%;
            background: #fff;
            position: absolute;
            left: 50%;
            top: 0;
            z-index: 1;
            opacity: .5;
            transition: all .4s;
        }

        &:hover:after {
            width: 100%;
            left: 0;
            opacity: 1;
            background: #fff;
        }
    }


    &:hover {

        background: darken($theme-color, 10%);

        span {
            position: relative;
            z-index: 3;
            color: #fff !important;
        }
    }

}


.btn-outline-theme {
    color: $theme-color;
    background: #fff;
    border: 1px solid $theme-color;

    &.btn-outline-theme-ripple {
        position: relative;
        z-index: 3;

        &:after {
            content: '';
            width: 0;
            height: 100%;
            background: $theme-color;
            border-radius: 30px;
            position: absolute;
            left: 50%;
            top: 0;
            z-index: -1;
            opacity: .5;
            transition: all .4s;
        }

        &:hover {
            background-color: transparent;
            border: 1px solid $theme-color;
            color: #fff;

            span {
                position: relative;
                z-index: 3;
                color: #fff !important;
            }

            &:after {
                left: 0;
                opacity: 1;
                width: 100%;
                color: #fff;
            }

        }

        &.rounded-pill {
            &.after {
                border-radius: 30px;
            }
        }
    }

    &:hover {
        background-color: #FAF9FF;
        border: 1px solid $theme-color;

        span {
            color: $theme-color;
        }
    }


}


.btn-spacial-icon {
    background: #fff !important;
    outline: none;
    border: none;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    color: $theme-color !important;

    i {
        color: $theme-color;
        font-size: 25px;
        position: absolute;
        right: 15px;
        top: 12px;
    }

    &:after {
        content: '';
        width: 0;
        height: 0;
        border-bottom: 20px solid $theme-color;
        border-right: 20px solid transparent;
        position: absolute;
        bottom: 1px;
        left: 1px;
        opacity: .8;
    }

    &:hover {
        background-color: #fff;
        color: $theme-color;
    }
}
