.btn-theme {
    background: $theme-color !important;
    color: #fff;
    border-color: $theme-color;

    &.btn-theme-ripple {
        transition: .4s all;
        position: relative;
        z-index: 3;
        animation-delay: 1.2s;
        overflow: hidden;

        &.rounded-pill {
            &:after {
                border-radius: 30px;
            }
        }

        &:hover {
            border-color: #fff;
            background: transparent;

            span {
                position: relative;
                z-index: 3;
                color: $theme-color !important;
            }
        }

        &:after {
            content: '';
            width: 0;
            height: 100%;
            background: #fff;
            position: absolute;
            left: 50%;
            top: 0;
            z-index: 1;
            opacity: .5;
            transition: all .4s;
        }

        &:hover:after {
            width: 100%;
            left: 0;
            opacity: 1;
            background: #fff;
        }
    }


    &:hover {

        background: darken($theme-color, 10%);

        span {
            position: relative;
            z-index: 3;
            color: #fff !important;
        }

        color: #fff !important;
    }

}


.btn-outline-theme {
    color: $theme-color !important;
    background: #fff;
    border: 1px solid $theme-color !important;

    &.btn-outline-theme-ripple {
        position: relative;
        z-index: 3;
        overflow: hidden;

        &.rounded-pill {
            &:after {
                border-radius: 30px;
            }
        }

        &:after {
            content: '';
            width: 0;
            height: 100%;
            background: $theme-color;
            position: absolute;
            left: 50%;
            top: 0;
            z-index: -1;
            opacity: .5;
            transition: all .4s;
        }

        &:hover {
            background-color: transparent;
            border: 1px solid $theme-color !important;
            color: #fff !important;

            span {
                position: relative;
                z-index: 3;
                color: #fff !important;
            }

            &:after {
                left: 0;
                opacity: 1;
                width: 100%;
                color: #fff;
            }

        }


    }

    &:hover {
        background-color: #FAF9FF;
        border: 1px solid $theme-color;

        span {
            color: $theme-color;
        }

        color: $theme-color;
    }


}


.btn-spacial-icon {
    background: #fff !important;
    outline: none;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    color: $theme-color !important;
    border: 1px solid #d2d2d2;
    position: relative;
    overflow: hidden;

    i {
        color: $theme-color;
        font-size: 25px;
        position: absolute;
        right: 15px;
        top: 12px;
    }

    &:after {
        content: '';
        width: 0;
        height: 0;
        border-bottom: 20px solid $theme-color;
        border-right: 20px solid transparent;
        position: absolute;
        bottom: 1px;
        left: 1px;
        opacity: .8;
    }

    &:hover {
        background-color: #fff;
        color: $theme-color;
        border-color: #afafaf;
    }
}


.btn-theme-gradient {
    background: linear-gradient(to right, $theme-color 0%, #FBAE20 50%, $theme-color 100%);
    color: #fff;
    border: none;
    transition: .4s all;
    background-size: 200% auto;

    &:hover {

        background-position: right center;
        transition: .4s all;

        span {
            position: relative;
            z-index: 3;
            color: #fff !important;
        }

        color: #fff !important;
    }
}


.btn-primary-gradient {
    background-image: linear-gradient(to right, #0d6efd 0%, darken(#0d6efd,20%)  51%, #0d6efd  100%);
    color: #fff;
    border: none;
    transition: .4s all;
    background-size: 200% auto;

    &:hover {

        background-position: right center;
        transition: .4s all;

        span {
            position: relative;
            z-index: 3;
            color: #fff !important;
        }

        color: #fff !important;
    }
}


.btn-info-gradient {
    background-image: linear-gradient(to right, #0dcaf0 0%, darken(#0dcaf0,20%) 51%, #0dcaf0 100%);
    color: #fff;
    border: none;
    transition: .4s all;
    background-size: 200% auto;

    &:hover {

        background-position: right center;
        transition: .4s all;

        span {
            position: relative;
            z-index: 3;
            color: #fff !important;
        }

        color: #fff !important;
    }
}


.btn-danger-gradient {
    background-image: linear-gradient(to right, #dc3545 0%, darken(#dc3545,10%) 51%, #dc3545 100%);
    color: #fff;
    border: none;
    transition: .4s all;
    background-size: 200% auto;

    &:hover {

        background-position: right center;
        transition: .4s all;

        span {
            position: relative;
            z-index: 3;
            color: #fff !important;
        }

        color: #fff !important;
    }
}


.btn-warning-gradient {
    background-image: linear-gradient(to right, #ffc107 0%, darken(#ffc107,10%) 51%, #ffc107 100%);
    color: #fff;
    border: none;
    transition: .4s all;
    background-size: 200% auto;

    &:hover {

        background-position: right center;
        transition: .4s all;

        span {
            position: relative;
            z-index: 3;
            color: #fff !important;
        }

        color: #fff !important;
    }
}


