
.btn-theme {
    background: $theme-color;
    color: $white;
    border-color: $theme-color;
    animation-delay: 1.2s;
    padding: 12px 40px;
    border-radius: 30px;
    position: relative;
    z-index: 3;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: -15px 15px 20px rgba(0, 0, 0, 0.1);
    transition: all .4s;
    cursor: pointer;
    outline: none !important;

    &:after {
        content: '';
        width: 0;
        height: 100%;
        background: $white;
        border-radius: 30px;
        position: absolute;
        left: 50%;
        top: 0px;
        z-index: 1;
        opacity: .5;
        transition: all .4s;
    }

    &:hover {
        border-color: #fff;
        background: transparent;

        span {
            position: relative;
            z-index: 3;
            color: $theme !important;
        }
    }

    &:hover:after {
        width: 100%;
        left: 0;
        opacity: 1;
        background: $white;
    }
}



.btn-theme2 {
    background: white;
    color: $black;
    border-color: $theme;
    animation-delay: 1.2s;
    padding: 12px 40px;
    border-radius: 30px;
    position: relative;
    z-index: 3;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: -15px 15px 20px rgba(0, 0, 0, 0.1);
    transition: all .4s;
    cursor: pointer;
    outline: none !important;

    &:after {
        content: '';
        width: 0;
        height: 100%;
        background: $white;
        border-radius: 30px;
        position: absolute;
        left: 50%;
        top: 0px;
        z-index: 1;
        opacity: .5;
        transition: all .4s;
    }

    &:hover {
        border-color: $theme;
        background: transparent;

        span {
            position: relative;
            z-index: 3;
            color: $white !important;
        }
    }

    &:hover:after {
        width: 100%;
        left: 0;
        opacity: 1;
        background: $theme;
    }
}




.btn-outline-theme {
    color: $theme-color;
    display: inline-block;
    text-decoration: none;
    padding: 12px 40px;
    background: $white;
    border-radius: 30px;
    position: relative;
    z-index: 3;
    margin-left: 10px;
    margin-right: 10px;
    transition: all .4s;
    cursor: pointer;
    outline: none !important;
    border: 1px solid $theme-color;

    &:after{
        content: '';
        width: 0;
        height: 100%;
        background: $theme-color;
        border-radius: 30px;
        position: absolute;
        left: 50%;
        top: 0;
        z-index: -1;
        opacity: .5;
        transition: all .4s;
    }

    &:hover{
        background-color: transparent;
        border: 1px solid $theme-color;
        color: $white;

        &:after{
            left: 0;
            opacity: 1;
            width: 100%;
            color: $white;
        }

    }
}



.vid-btn{
    padding: 15px 60px;
    background: #fff;
    box-shadow: 0px 10px 40px -4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    height: 48px;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    color: $theme;
    i{
        color: $theme;
        font-size: 25px;
        position: absolute;
        right: 15px;
        top: 12px;
    }

    &:after{
        content: '';
        width: 0;
        height: 0;
        border-bottom: 20px solid #F51963;
        border-right: 20px solid transparent;
        position: absolute;
        bottom: 1px;
        left: 1px;
        opacity: .8;
    }
}
