.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 280px;
    transition: 0.4s all ease-in-out;

    @media screen and (max-width: 1600px) {
        padding: 0 20px;
    }

    &.header-scrolled {
        background-color: $white;
        transition: 0.5s all ease-in-out;
        box-shadow: 0 0 8px 0 $border-color;

        .header-logo {

            .logo-1 {
                display: none;
            }

            .logo-2 {
                display: inline-block;
            }

        }

        .header-menu {

            .link {
                color: $black;
            }

        }

    }

    .header-logo {
        text-decoration: none;
        color: $white;
        padding: 10px 20px;
        display: inline-block;

        .logo-1 {
            display: inline-block;
        }

        .logo-2 {
            display: none;
        }

    }

    .controller-icon {
        display: none;

        @media screen and (max-width: 991px) {
            display: inline-block;
            padding: 10px 20px;
            border-radius: 10px;
            color: $black;
            transition: 0.3s all ease-in-out;

            &:hover {
                background-color: $white;
            }

        }

    }

    .header-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;

        @media screen and (max-width: 991px) {
            position: fixed;
            right: -300px;
            top: 0;
            display: block;
            width: 300px;
            height: 100vh;
            padding: 20px;
            background-color: $white;
            transition: 0.4s all ease-in-out;
            border-left: 1px solid $border-color;

            &.active {
                right: 0;
            }

        }

        .close-btn {
            display: none;

            @media screen and (max-width: 991px) {
                display: inline-block;
                padding: 5px 10px;
                margin-bottom: 30px;
                color: $black;

                &:hover {
                    border-radius: 4px;
                    color: $white;
                    background-color: $theme-color;
                }

            }

        }

        .link {
            text-decoration: none;
            color: $white;
            display: inline-block;
            padding: 5px 10px;
            margin: 0 5px;
            font-size: 13px;
            transition: 0.3s all ease-in-out;
            font-weight: 300;

            @media screen and (max-width: 991px) {
                display: block;
                color: $black;
                padding: 10px 5px;
            }

            &:hover {
                color: $theme-color;
            }

            &.active {
                font-weight: normal;
                color: $theme-color;
            }

        }

    }

}
