.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 280px;
    transition: 0.4s all ease-in-out;

    @media screen and (max-width: 1600px) {
        padding: 0 20px;
    }

    &.header-scrolled {
        background-color: $white;
        transition: transform .5s ;
        box-shadow: 0 0 8px 0 $border-color;
        top: -100px;
        transform: translateY(100px);

        .header-logo {

            .logo-1 {
                display: none;
            }

            .logo-2 {
                display: inline-block;
            }

        }

        .controller-icon{
            color: $black;

            &:hover {
                transition: 0.3s all ease-in-out;
                box-shadow: 0 0 5px rgba(0, 0, 0, .5);
            }

        }

        .header-menu {

            .header-item{
                .header-link {
                    color: $black;
                }
            }

        }

    }

    .header-logo {
        text-decoration: none;
        color: $white;
        padding: 10px 20px;
        display: inline-block;

        .logo-1 {
            display: inline-block;
        }

        .logo-2 {
            display: none;
        }

    }

    .controller-icon {
        display: none;

        @media screen and (max-width: 991px) {
            padding: 15px;
            border-radius: 10px;
            color: $white;
            transition: 0.3s all ease-in-out;
            font-size: 20px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;


            &:hover {
                transition: 0.3s all ease-in-out;
                box-shadow: 0 0 5px rgba(255, 255, 255, .5);
            }

        }

    }

    .header-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;

        @media screen and (max-width: 991px) {
            position: fixed;
            right: -300px;
            top: 0;
            display: block;
            width: 300px;
            height: 100vh;
            padding: 20px;
            background-color: $white;
            transition: 0.4s all ease-in-out;
            border-left: 1px solid $border-color;
            overflow-y: scroll;

            &.active {
                right: 0;
            }

        }

        .close-btn {
            display: none;


            @media screen and (max-width: 991px) {
                display: inline-block;
                padding: 5px 10px;
                margin-bottom: 30px;
                color: $black;
                transition: 0.3s all ease-in-out;

                &:hover {
                    transition: 0.3s all ease-in-out;
                    border-radius: 4px;
                    color: $white;
                    background-color: $theme-color;
                }

            }

        }

        .header-item{
            position: relative;
            padding: 10px 0;

            @media screen and (max-width: 991px) {
                padding: 5px;
            }

            .header-link {
                text-decoration: none;
                color: $white;
                display: inline-block;
                padding: 5px 10px;
                margin: 0 5px;
                font-size: 13px;
                transition: 0.3s all ease-in-out;
                font-weight: 500;

                &:hover {
                    color: $theme-color;

                    .drop-icon{
                        transform: rotate(180deg);

                        @media screen and (max-width: 991px) {
                            transform: rotate(0deg);
                        }
                    }

                }

                &.active {
                    color: $theme-color;
                }

                .drop-icon {
                    margin-left: 5px;
                    font-size: 10px;
                    transform: rotate(0deg);
                    transition: 0.3s all ease-in-out;

                    @media screen and (max-width: 991px) {
                        &.active{
                            transform: rotate(180deg);
                        }
                    }

                }

                @media screen and (max-width: 991px) {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: $black;
                    padding: 5px;
                }

            }

            &:hover .menu-dropdown{
                visibility: visible;
                opacity: 1;
                top: 45px;

                @media screen and (max-width: 991px) {
                    visibility: hidden;
                    opacity: 0;
                }

            }

            .menu-dropdown{
                position: absolute;
                top: 95px;
                left: 0;
                width: 320px;
                height: auto;
                border: 1px solid $border-color;
                background-color: $white;
                overflow: hidden;
                padding: 30px 10px;
                visibility: hidden;
                opacity: 0;
                transition: 0.3s all ease-in-out;

                @media screen and (max-width: 991px) {
                    position: absolute;
                    z-index: 600;
                    width: auto;
                    margin: 10px;
                    transition: 0s;
                    padding: 5px;
                    top: 45px;

                    &.active{
                        position: sticky;
                        visibility: visible;
                        opacity: 1;
                        margin-right: 0;
                    }

                }

                .dropdown-links{
                    text-decoration: none;
                    color: $grayish;
                    padding: 10px;
                    margin: 5px;
                    display: block;
                    font-weight: normal;
                    transition: 0.3s all ease-in-out;

                    @media screen and (max-width: 991px) {
                        padding: 10px 5px;
                    }

                    &:hover{
                        padding-left: 15px;
                        color: $black;
                    }

                    &.active{
                        padding-left: 15px;
                        color: $black;
                    }

                }

            }

        }

    }

}
