.portfolio-section {
    .sec-title {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 80px;
        padding-bottom: 15px;
        position: relative;

        &:after {
            content: '';
            width: 80px;
            height: 1px;
            background-color: $theme-color;
            position: absolute;
            bottom: 0;
            left: calc(50% - 40px);
        }
    }

    .project-tabs {
        .nav {
            .btn {
                border: none;
                background: transparent;
                font-weight: 600;
                padding: 8px 20px;
                font-size: 14px;
                font-family: 'Rubik', sans-serif;

                &.active {
                    background: $theme-color;
                    box-shadow: 0 10px 40px -4px rgba(0, 0, 0, 0.1);
                    color: #ffffff;
                }
            }
        }
    }


    .project-tab-content {
        .item-img {
            position: relative;
            margin-top: 30px;

            img {
                width: 100%;
                height: auto;
                vertical-align: middle;
                border-style: none;
            }

            .img-overlay {
                position: absolute;
                top: 10px;
                left: 10px;
                right: 10px;
                bottom: 10px;
                background: rgba(245, 25, 99, 0.8);
                opacity: 0;
                transition: all .5s;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;

                .overlay-info {
                    width: 100%;
                    text-align: center;

                    .info-link {
                        text-decoration: none;
                        display: inline-block;
                        color: #ffffff;

                        .sub-title {
                            color: #ffffff;
                            font-weight: 400;
                            font-size: 13px;
                            padding-bottom: 15px;
                            position: relative;
                            &:after{
                                content: '';
                                width: 50px;
                                height: 1px;
                                background-color: #ffffff;
                                position: absolute;
                                bottom: 0;
                                left: calc(50% - 25px);
                            }
                        }

                        .title{
                            color: #ffffff;
                            font-weight: 700;
                            font-size: 16px;
                            letter-spacing: 1px;
                            margin-top: 15px;
                        }
                    }

                    .pop-img{
                        position: absolute;
                        right: 15px;
                        bottom: 15px;
                        font-size: 15px;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        border-radius: 50%;
                        background: #222;
                        color: #ffffff;
                        transition: all .5s;
                        &:hover{
                            background: #ffffff;
                            color: $theme-color;
                        }
                    }
                }
            }
            &:hover{
                transition: .5s all;
                .img-overlay{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}
