/*about service start*/
.service-section {
    .each-service {
        margin-bottom: 50px;

        .icon {
            font-size: 40px;
            background: linear-gradient(45deg, $theme-color 0%, $yellow 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            float: left;
        }

        .service-title {
            margin-left: 70px;
            padding-bottom: 20px;
            margin-bottom: 20px;
            position: relative;
            font-weight: 500;

            &:after {
                content: '';
                width: 40px;
                height: 1px;
                background: $gray-2;
                position: absolute;
                left: 0;
                bottom: 0;
            }

        }

        .service-desc {
            margin-left: 70px;
            font-size: 14px;
            font-family: 'Khula', sans-serif;
            color: $grayish;
            line-height: 2;
            margin-bottom: 0;
            word-break: break-word;
            width: 65%;
        }
    }
}
/*about service end  */



.service {
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;

    .box-btn {
        border-left: 1px solid $water-color;
        border-right: 1px solid $water-color;
        display: inline-block;
        width: 300px;
        padding: 20px 0;
        text-decoration: none;
        color: $white;
        text-align: center;
        background: $water-color;
        transition: 0.4s all ease-in-out;
        border-radius: 10px;

        &:hover {
            background-color: $theme-color;

            .text-theme {
                color: $white;
                transition: 0.4s all ease-in-out;
            }

        }

        @media screen and (max-width: 1400px) {
            width: 270px;
        }

        @media screen and (max-width: 1200px) {
            width: 210px;
        }

        @media screen and (max-width: 640px) {
            width: 170px;
        }

        &:first-child {
            border-left: none;
            border-right: none;
        }

        &:last-child {
            border-left: none;
            border-right: none;
        }

    }

}
