// testimonial start

.testimonials {
    width: 100%;
    background-repeat: repeat;
    background-size: auto;
    position: relative;
    height: 450px;

    .testimonial {
        position: relative;

        .item {
            height: auto;

            .quas {
                position: absolute;
                bottom: -25px;
                left: 10px;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ffffff;
                color: $theme-color;
                box-shadow: 0 0 12px 0 #D3D3D3FF;
                border-radius: 50%;
            }

            .customer-image {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: contain;
                background-color: #D3D3D3FF;
                box-shadow: 0 0 12px 0 #D3D3D3FF;
            }

        }


        &:hover .owl-nav {
            visibility: visible;
            transition: 0.3s all ease-in-out;

            .owl-prev{
                left: 10px;
            }
            .owl-next{
                right: 10px;
            }

        }

        .owl-nav {
            position: absolute;
            top: 0;
            bottom: 50px;
            left: 0;
            right: 0;
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            visibility: hidden;

            .owl-prev {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ffffff;
                border-radius: 50%;
                box-shadow: 0 0 8px 0 #D3D3D3FF;
                position: relative;
                left: -60px;
                transition: 0.3s all ease-in-out;

                span {
                    color: $theme-color;
                }

            }

            .owl-next {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ffffff;
                border-radius: 50%;
                box-shadow: 0 0 8px 0 #D3D3D3FF;
                position: relative;
                right: -60px;
                transition: 0.3s all ease-in-out;

                span {
                    color: $theme-color;
                }

            }

        }

    }

}

// testimonial end
