.latest-news{
    .image-effect{
        transform: scale(1);
        transition: 0.3s all ease-in-out;

        &:hover{
            transform: scale(1.5);
        }

    }
    .position-box{
        position: relative;
        left: 10px;
        right: 10px;
        top: -30px;
        width: 95%;
        height: auto;
        background-color: #ffffff;
        padding: 30px;
        box-shadow: 0 0 6px 0 #D3D3D3FF;

        .blog-link{
            text-decoration: none;
            color: #000000;
            display: inline-block;
            padding: 5px 0;
            margin-right: 20px;
        }

        .read-me{
            position: relative;
            right: -30px;
            bottom: -52px;
            padding: 10px 30px;
            display: inline-block;
            text-decoration: none;
            transition: 0.2s all ease-in-out;
        }

    }
}
