.progress-gradient{
    width: 100%;
    height: 12px;
    border-radius: 30px;
    border: 1px solid #eee;
    padding: 2px;
    background: #f7f7f7;
    position: relative;
    .gradient-bar{
        position: absolute;
        left: 1px;
        top: 1px;
        height: 8px;
        width: 10%;
        border-radius: 30px;
        background: linear-gradient(45deg, $theme-color 0%, #FBAE20 100%);
        transition: all 1.5s;
    }
}
