.contact-section {
    .bg-img {
        background-size: cover;
        background-repeat: no-repeat;

        .info {
            padding: 100px 5%;
            position: relative;
            z-index: 3;

            .about {
                margin-bottom: 50px;

                .title {
                    font-size: 25px;
                    font-weight: 700;
                    margin-bottom: 15px;
                    color: $white;
                }

                .desc {
                    font-size: 15px;
                    font-weight: 400;
                    font-family: 'Khula', sans-serif;
                    color: $gray-3;
                    line-height: 2;
                    margin: 0;
                }
            }

            .item{
                .icon{
                    float: left;
                    font-size: 20px;
                    color:$theme-color;
                }
                .content{
                    margin-left: 40px;
                    .item-desc{
                        display: inline-block;
                        font-size: 14px;
                        color: $gray-3;
                    }
                }
            }
        }
    }
}



.clients-section{
    background-repeat: repeat;
    background-size: auto;
    padding: 50px 0;
}
