.loading-content{
    min-height: 500px;
    padding: 100px 0 60px;
    background-color: #000000;

    .loading{
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*loading one*/
    .loading-one {
        transform: rotateZ(45deg);
        perspective: 1000px;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        color: #fff;
        &:before,
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: inherit;
            height: inherit;
            border-radius: 50%;
            transform: rotateX(70deg);
            animation: 1s spin linear infinite;
        }
        &:after{
            color: #FF3D00;
            transform: rotateY(70deg);
            animation-delay: .4s;
        }
        @keyframes rotate {
            0% {
                transform: translate(-50%, -50%) rotateZ(0deg);
            }
            100% {
                transform: translate(-50%, -50%) rotateZ(360deg);
            }
        }

        @keyframes rotateccw {
            0% {
                transform: translate(-50%, -50%) rotate(0deg);
            }
            100% {
                transform: translate(-50%, -50%) rotate(-360deg);
            }
        }

        @keyframes spin {
            0%,
            100% {
                box-shadow: .2em 0px 0 0px currentcolor;
            }
            12% {
                box-shadow: .2em .2em 0 0 currentcolor;
            }
            25% {
                box-shadow: 0 .2em 0 0px currentcolor;
            }
            37% {
                box-shadow: -.2em .2em 0 0 currentcolor;
            }
            50% {
                box-shadow: -.2em 0 0 0 currentcolor;
            }
            62% {
                box-shadow: -.2em -.2em 0 0 currentcolor;
            }
            75% {
                box-shadow: 0px -.2em 0 0 currentcolor;
            }
            87% {
                box-shadow: .2em -.2em 0 0 currentcolor;
            }
        }
    }

    /*loading two*/
    .loading-two {
        width: 106px;
        height: 56px;
        display: block;
        margin: 30px auto;
        background-image: linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), radial-gradient(circle 14px, #FFF 100%, transparent 0);
        background-size: 48px 15px , 15px 35px, 15px 35px, 25px 15px, 28px 28px;
        background-position: 25px 5px, 58px 20px, 25px 17px, 2px 37px, 76px 0px;
        background-repeat: no-repeat;
        position: relative;
        transform: rotate(-45deg);
        box-sizing: border-box;
        &:after,
        &:before {
            content: '';
            position: absolute;
            width: 56px;
            height: 56px;
            border: 6px solid #FFF;
            border-radius: 50%;
            left: -45px;
            top: -10px;
            background-repeat: no-repeat;
            background-image: linear-gradient(#FFF 64px, transparent 0), linear-gradient(#FFF 66px, transparent 0), radial-gradient(circle 4px, #FFF 100%, transparent 0);
            background-size: 40px 1px , 1px 40px, 8px 8px;
            background-position: center center;
            box-sizing: border-box;
            animation: rotation 0.3s linear infinite;
        }
        &:after{
            left: 25px;
            top: 60px;
        }
        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }

    /*loading three*/
    .loading-three{
        font-size: 48px;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #263238;
        box-sizing: border-box;
        text-shadow: 0 0 2px #FFF, 0 0 1px #FFF, 0 0 1px #FFF;
        letter-spacing: 2px;
        position: relative;
        height: 200px;
        width: 200px;
        &:after{
            content: 'Loading';
            position: absolute;
            left: 0;
            top: 0;
            color: #FFF;
            width: 100%;
            height: 100%;
            overflow: hidden;
            box-sizing: border-box;
            animation: animloader 4s linear infinite;
        }

        @keyframes animloader {
            0% {
                width: 0%;
            }
            100% {
                width: 100%;
            }
        }
    }

    /*loading four*/
    .loading-four{
        display: block;
        position: relative;
        height: 32px;
        width: 200px;
        background: #fff;
        border:2px solid #fff;
        color: red;
        overflow: hidden;
        &:before{
            content: '';
            background: red;
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 100%;
            animation: loading 8s linear infinite;
        }
        &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 24px;
            line-height: 32px;
            color: rgb(0,255,255);
            mix-blend-mode: difference;
            animation: percentage 8s linear infinite;
        }
        @keyframes loading {
            0% { width: 0 }
            100% { width: 100% }
        }
        @keyframes percentage {
            0% { content: "0%"}
            5% { content: "5%"}
            10% { content: "10%"}
            20% { content: "20%"}
            30% { content: "30%"}
            40% { content: "40%"}
            50% { content: "50%"}
            60% { content: "60%"}
            70% { content: "70%"}
            80% { content: "80%"}
            90% { content: "90%"}
            95% { content: "95%"}
            96% { content: "96%"}
            97% { content: "97%"}
            98% { content: "98%"}
            99% { content: "99%"}
            100% { content: "100%"}
        }
    }

    /*loading five*/
    .loading-five {
        width: 64px;
        height: 64px;
        position: relative;
        background-image:
            linear-gradient(#FFF 16px, transparent 0) ,
            linear-gradient(#FF3D00 16px, transparent 0) ,
            linear-gradient(#FF3D00 16px, transparent 0) ,
            linear-gradient(#FFF 16px, transparent 0);
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: left top , left bottom , right top , right bottom;
        animation: rotate 1s linear infinite;
        @keyframes rotate {
            0% {
                width: 64px;
                height: 64px;
                transform: rotate(0deg)
            }
            50% {
                width: 30px;
                height: 30px;
                transform: rotate(180deg)
            }
            100% {
                width: 64px;
                height: 64px;
                transform: rotate(360deg)
            }
        }
    }

    /*loading six*/
    .loading-six {
        position: relative;
        display: flex;
        &:before ,
        &:after {
            content: '';
            width: 15px;
            height: 15px;
            display: inline-block;
            position: relative;
            margin: 0  5px  ;
            border-radius: 50%;
            color: #FFF;
            background: currentColor;
            box-shadow: 50px 0 ,  -50px 0;
            animation: left 1s infinite ease-in-out;
        }
        &:after {
            color: #FF3D00;
            animation: right 1.1s infinite ease-in-out;
        }
        @keyframes right {
            0% , 100%{transform: translateY(-10px) }
            50% { transform: translateY(10px) }
        }

        @keyframes left {
            0% , 100%{ transform: translateY(10px) }
            50% { transform: translateY(-10px) }
        }
    }


    /*loading seven*/
    .loading-seven {
        width: 48px;
        height: 48px;
        border: 2px solid #FFF;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        &:after{
            content: '';
            box-sizing: border-box;
            position: absolute;
            left: 50%;
            top: 0;
            background: #FF3D00;
            width: 3px;
            height: 24px;
            transform: translateX(-50%);
        }
        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }


    /*loading eight*/
    .loading-eight{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 6rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        &:before,
        &:after {
            content: "";
            position: absolute;
            border-radius: 50%;
            animation: pulsOut 1.8s ease-in-out infinite;
            filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
        }
        &:before {
            width: 100%;
            padding-bottom: 100%;
            box-shadow: inset 0 0 0 1rem #fff;
            animation-name: pulsIn;
        }
        &:after {
            width: calc(100% - 2rem);
            padding-bottom: calc(100% - 2rem);
            box-shadow: 0 0 0 0 #fff;
        }
        @keyframes pulsIn {
            0% {
                box-shadow: inset 0 0 0 1rem #fff;
                opacity: 1;
            }
            50%, 100% {
                box-shadow: inset 0 0 0 0 #fff;
                opacity: 0;
            }
        }

        @keyframes pulsOut {
            0%, 50% {
                box-shadow: 0 0 0 0 #fff;
                opacity: 0;
            }
            100% {
                box-shadow: 0 0 0 1rem #fff;
                opacity: 1;
            }
        }
    }


    /*loading nine*/
    .loading-nine{
        position: relative;
        border: 24px solid #FFF;
        border-radius: 50%;
        box-sizing: border-box;
        animation: eat 1s linear infinite;
        width: 60px;
        &:after,
        &:before{
            content: '';
            position: absolute;
            left: 50px;
            top: 50%;
            transform: translateY(-50%);
            background: #fff;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            box-sizing: border-box;
            opacity: 0;
            animation: move 2s linear infinite;
        }
        &:before {
            animation-delay: 1s;
        }
        @keyframes eat {
            0% , 49% { border-right-color: #FFF }
            50% , 100% { border-right-color: #0000 }
        }
        @keyframes move {
            0% { left: 75px ; opacity: 1}
            50% { left: 0px; opacity: 1 }
            52%, 100% { left: -5px; opacity: 0; }
        }
    }


    /*loading ten*/
    .loading-ten{
        position: relative;
        width: 108px;
        display: flex;
        justify-content: space-between;
        &:after,
        &::before{
            content: '';
            display: inline-block;
            width: 48px;
            height: 48px;
            background-color: #FFF;
            background-image:  radial-gradient(circle 14px, #0d161b 100%, transparent 0);
            background-repeat: no-repeat;
            border-radius: 50%;
            animation: eyeMove 6s infinite , blink 10s infinite;
        }
        @keyframes eyeMove{
            0%  , 10% {     background-position: 0px 0px}
            13%  , 40% {     background-position: -15px 0px}
            43%  , 70% {     background-position: 15px 0px}
            73%  , 90% {     background-position: 0px 15px}
            93%  , 100% {     background-position: 0px 0px}
        }
        @keyframes blink{
            0%  , 10% , 12% , 20%, 22%, 40%, 42% , 60%, 62%,  70%, 72% , 90%, 92%, 98% , 100%
            { height: 48px}
            11% , 21% ,41% , 61% , 71% , 91% , 99%
            { height: 18px}
        }
    }
}
