.alert-theme {
    background-color: rgba(62, 143, 218, .2);
    color: darken($theme-color, 20%);
    border: 1px solid lighten($theme-color, 30%);
}


.alert-theme-dark {
    background-color: $theme-color;
    color: #fff;
    border: 1px solid $theme-color;
}

.alert-theme-light {
    background-color: rgba(62, 143, 218, .2);
    color: darken($theme-color, 20%);
    border: 1px solid $theme-color;
}

.alert-theme-gradient {
    background: $theme-color;
    background: linear-gradient(to right, darken($theme-color,10%) 28%, lighten($theme-color,10%) 100%);
    color: #fff;
    border: 1px solid lighten($theme-color, 30%);


}
