.bottom-footer{

    a {
        text-decoration: none;
        color: $white;
        background-color: $black;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s all ease-in-out;
        margin-right: 10px;

        &:hover {
            background-color: $theme-color;
            color: $white;
        }

    }

}
